:root {
    --blue-header: rgb(61, 190, 254);
    --green-footer: rgb(144, 212, 197);
    --dark-green-title: rgb(38, 84, 77);
    --green-text: hsl(167, 40%, 24%);
    --dark-blue-title: rgb(21, 80, 112);
    --blue-text: hsl(198, 62%, 26%);
    --light-purple-text: rgb(136, 133, 144);
    --testimony: rgb(187, 187, 187);
}