@import './assets/scss/style.scss';
@import './assets/scss/media-queries';

.we-are-creatives {
    color: white;
    height: 800px;
    background: url(./assets/images/image-header.jpg) center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 7rem;
        margin: 5rem 0 7rem 0;
        letter-spacing: 5px;
        
        
        
    }
    .arrow-down {
        background: url(./assets/images/icon-arrow-down.svg) center center/cover;
        height: 130px;
        width: 40px;
    }
    @include s {
        h2 {
            text-align: center;
            font-size: 5rem;
        }
    }
}

.transform-your-brand {
    height: 700px;
    display: flex;
    article {
        width: 50%;
        margin: auto;
        .content-of-transform-your-brand {
            margin: auto;
            max-width: 50%;
            max-height: 50%;
            h3 {
                font-size: 3rem;
                
                
                
                
            }
            p {
                line-height: 2rem;
                margin: 2rem 0;
                color: var(--light-purple-text);
                
                
                
            }
            a {
                font-weight: bold;
                color: black;
                
                
                
            }
            
            
            
            
            
            
        }
        
        
        
    }
    .egg {
        width: 50%;
        height: 700px;
        background: url(./assets/images/sunnyside-egg.jpeg) center center/cover;
        
        
        
    }
    @include s {
        flex-direction: column-reverse;
        article {
            width: 100%;
            .content-of-transform-your-brand {
                max-width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    text-align: center;
                    margin-top: 4rem;
                }
                p {
                    text-align: center;
                }
                a {
                    margin-bottom: 2rem;
                }
            }
        }
        .egg {
            width: 100%;
        }
    }
}

.stand-out-to-the-right-audience {
    height: 700px;
    display: flex;
    article {
        width: 50%;
        margin: auto;
        .content-of-stand-out-to-the-right-audience {
            margin: auto;
            max-width: 70%;
            max-height: 50%;
            h3 {
                font-size: 3rem;
                
                
                
                
            }
            p {
                line-height: 2rem;
                margin: 2rem 0;
                color: var(--light-purple-text);
                
                
                
            }
            a {
                font-weight: bold;
                color: black;
                
                
                
            }
            
            
            
            
            
            
        }
        
        
        
    }
    .glas {
        width: 50%;
        height: 700px;
        background: url(./assets/images/sunnyside-glas.jpeg) center center/cover;
        
        
        
    }
    @include s {
        flex-direction: column;
        article {
            width: 100%;
            .content-of-stand-out-to-the-right-audience {
                max-width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    text-align: center;
                    margin-top: 4rem;
                }
                p {
                    text-align: center;
                }
                a {
                    margin-bottom: 2rem;
                }
            }
        }
        .glas {
            width: 100%;
        }
    }
}

.graphic-design-and-photography {
    height: 700px;
    display: flex;
    article {
        width: 50%;
        display: flex;
        align-items: flex-end;
        .content-of-articles-of-graphic-design-and-photography {
            max-width: 50%;
            margin: 0 auto;
            
            
            
        }
        h4 {
            font-size: 2rem;
            text-align: center;
        }
        p {
            text-align: center;
            margin: 2rem 0;
            line-height: 1.5rem;
        }
        
        
        
    }
    .graphic-design {
        background: url(./assets/images/sunnyside-cherry.jpeg) center center/cover;
        h4 {
            color: var(--dark-green-title);
        }
        p {
            color: var(--green-text);
        }
        
        
        
    }
    .photography {
        background: url(./assets/images/sunnyside-orange.jpeg) center center/cover;
        h4 {
            color: var(--dark-blue-title);
        }
        p {
            color: var( --blue-text);
        }
        
        
        
    }
    @include s {
        flex-direction: column;
        article {

            .content-of-articles-of-graphic-design-and-photography {
                max-width: 90%;
            }
            width: 100%;
        }
        .graphic-design, .photography {
            height: 700px;
        }
    }
}

.testimonials {
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h4 {
        font-size: 2rem;
        letter-spacing: 5px;
        color: var(--testimony);
    }
    ul {
        display: flex;
        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
                border-radius: 90px;
                height: 100px;
                width: 100px;
                margin: 6rem auto 0 auto;
            }
            p {
                text-align: center;
            }
            .testimony {
                margin: 6rem;
                line-height: 1.5rem;
            }
            .name {
                font-weight: 900;
                margin-bottom: 1rem;
            }
            .status {
                color: var(--testimony);
            }
        }
    }
    @include s {
        height: auto;
        h4 {
            margin-top: 3rem;
        }
        ul {
            flex-direction: column;
            margin-bottom: 3rem;
        }
    }
}

.decoration {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    .bottles {
        background: url(./assets/images/sunnyside-bottles.jpeg) center center/cover;
        width: 25%;
    }
    .plate {
        background: url(./assets/images/sunnyside-plate.jpeg) center center/cover;
        width: 25%;
    }
    .cone {
        background: url(./assets/images/sunnyside-cone.jpeg) center center/cover;
        width: 25%;
    }
    .sugar {
        background: url(./assets/images/sunnyside-sugar.jpeg) center center/cover;
        width: 25%;
    }

    @include s {
        .bottles {
            width: 50%;
        }
        .plate {
            width: 50%;
        }
        .cone {
            width: 50%;
        }
        .sugar {
            width: 50%;
        }
    }
}